*
!*.yaml
!scenes
!customize
!devices
!groups
!custom_components
!sensors
!images
!www
!images/vacuum_card.jpg
!alerts
!bash
!shell
!bash/git_pull.sh
!scripts
!automation
!.gitignore
!.travis.yml
secrets.yaml
known_devices.yaml